<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <publish>
        <processor patch:after="*[@type='Sitecore.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.Kernel']" type="Sitecore.GoogleIndexingAPI.Pipelines.IndexPublishedContentProcessor, Sitecore.GoogleIndexingAPI" resolve="true" />
      </publish>
    </pipelines>
    <events>
      <event name="item:deleting">
        <handler type="Sitecore.GoogleIndexingAPI.Events.RemoveIndexedLinksHandler, Sitecore.GoogleIndexingAPI" method="OnItemDeleting" resolve="true" />
      </event>
    </events>
  </sitecore>
</configuration>